@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?po680b');
  src:  url('fonts/icomoon.eot?po680b#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?po680b') format('truetype'),
  url('fonts/icomoon.woff?po680b') format('woff'),
  url('fonts/icomoon.svg?po680b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts1/icomoon.eot?fyxzbp');
  src: url('fonts1/icomoon.eot?fyxzbp#iefix') format('embedded-opentype'),
  url('fonts1/icomoon.ttf?fyxzbp') format('truetype'),
  url('fonts1/icomoon.woff?fyxzbp') format('woff'),
  url('fonts1/icomoon.svg?fyxzbp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-search:before {
  content: "\e934";
}
.ico-share2:before {
  content: "\e730";
}
.ico-addr:before {
  content: "\e731";
}
.ico-i:before {
  content: "\e732";
}
.ico-ruler2:before {
  content: "\e733";
}
.ico-ruler-off2:before {
  content: "\e734";
}
.ico-play:before {
  content: "\e735";
}
.ico-pause2:before {
  content: "\e736";
}
.ico-zoomOut:before {
  content: "\e737";
}
.ico-metre1:before {
  content: "\e738";
}
.ico-feet1:before {
  content: "\e739";
}
.ico-autoPlay:before {
  content: "\e800";
}
.ico-enlarge3:before {
  content: "\e900";
}
.ico-shrink3:before {
  content: "\e901";
}
.ico-bookButton:before {
  content: "\e902";
}
.ico-commentButton:before {
  content: "\e903";
}
.ico-down:before {
  content: "\e904";
}
.ico-downloadButton:before {
  content: "\e905";
}
.ico-langButton-zh:before {
  content: "\e906";
}
.ico-langButton-en:before {
  content: "\e907";
}
.ico-likeButton:before {
  content: "\e908";
}
.ico-likeOn:before {
  content: "\e909";
}
.ico-musicButton:before {
  content: "\e90a";
}
.ico-playButton:before {
  content: "\e90b";
}
.ico-rightsButton:before {
  content: "\e90c";
}
.ico-rulerButton:before {
  content: "\e90d";
}
.ico-vrButton:before {
  content: "\e90e";
}
.ico-share:before {
  content: "\e90f";
}
.ico-2d:before {
  content: "\e910";
}
.ico-3d:before {
  content: "\e911";
}
.ico-home:before {
  content: "\e912";
}
.ico-pointTop:before {
  content: "\e913";
}
.ico-like:before {
  content: "\e914";
}
.ico-VR:before {
  content: "\e915";
}
.ico-ruler:before {
  content: "\e916";
}
.ico-close:before {
  content: "\e917";
}
.ico-floorPlan:before {
  content: "\e918";
}
.ico-music:before {
  content: "\e919";
}
.ico-share1:before {
  content: "\e91a";
}
.ico-planChange:before {
  content: "\e91b";
}
.ico-sceneChange:before {
  content: "\e91c";
}
.ico-chart:before {
  content: "\e91d";
}
.ico-phone:before {
  content: "\e91e";
}
.ico-delta:before {
  content: "\e91f";
}
.ico-eye:before {
  content: "\e920";
}
.ico-vr:before {
  content: "\e921";
}
.ico-phone1:before {
  content: "\e922";
}
.ico-ruler1:before {
  content: "\e923";
}
.ico-ruler-off:before {
  content: "\e924";
}
.ico-share11:before {
  content: "\e925";
}
.ico-video:before {
  content: "\e926";
}
.ico-pause:before {
  content: "\e927";
}
.ico-zoomIn:before {
  content: "\e928";
}
.ico-home1:before {
  content: "\e929";
}
.ico-menu:before {
  content: "\e92a";
}
.ico-phone2:before {
  content: "\e92b";
}
.ico-projectIntroduction:before {
  content: "\e92c";
}
.ico-projectView:before {
  content: "\e92d";
}
.ico-booking:before {
  content: "\e92e";
}
.ico-floorPlan1:before {
  content: "\e92f";
}
.ico-traffic:before {
  content: "\e930";
}
.ico-close1:before {
  content: "\e931";
}
.ico-metre:before {
  content: "\e932";
}
.ico-feet:before {
  content: "\e933";
}
.ico-phone11:before {
  content: "\e942";
}
.ico-enlarge:before {
  content: "\e989";
}
.ico-shrink:before {
  content: "\e98a";
}
.ico-enlarge2:before {
  content: "\e98b";
}
.ico-shrink2:before {
  content: "\e98c";
}
.ico-navi:before {
  content: "\e999";
}
.ico-plus:before {
  content: "\ea0a";
}
.ico-minus:before {
  content: "\ea0b";
}
.ico-cross:before {
  content: "\ea0f";
}
